<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-expand-lg">
        {{#if user}}
        <a class="navbar-brand" href="/link">Gérer les liaisons</a>
        <a class="navbar-brand" href="/game">Gérer les jeux</a>
        {{/if}}
    </div>

    {{#if user}}
    <div>
        <img height="48" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.png?size=64"
            class="rounded-circle img-responsive" />
        <span class="navbar-brand">&nbsp;{{user.username}}#{{user.discriminator}}</span>
        <a class="navbar-brand" href="/login/refresh"><i class="fas fa-sync"></i></a>
    </div>
    {{/if}}

    <div>
        <a class="navbar-brand" href="/faq"><i class="fas fa-question"></i></a>
        {{#if user}}
        <a class="navbar-brand" href="/logout"><i class="fas fa-power-off"></i></a>
        {{else}}
        <a class="navbar-brand" href="/login">Connexion</a>
        {{/if}}
    </div>
</nav>